/node_modules/*
*.dll
/csharpDll/*
/CNodeDll/CNodeDll/bin/*
/CNodeDll/CNodeDll/obj/*
/CNodeDll/ConsoleApplication1/bin/*
/CNodeDll/ConsoleApplication1/obj/*
/CNodeDll/gRPCClient/bin/*
/CNodeDll/gRPCClient/obj/*
/CNodeDll/gRPCDemo/bin/*
/CNodeDll/gRPCDemo/obj/*
/CNodeDll/gRPCServer/bin/*
/CNodeDll/gRPCServer/obj/*
/CNodeDll/RPCWinService/bin/*
/CNodeDll/RPCWinService/obj/*
/CNodeDll/Utility/bin/*
/CNodeDll/Utility/obj/*
/CNodeDll/packages/*