<html>

<head>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/docs.css" rel="stylesheet">
</head>

<body>
    <div class="bs-example col-sm-6" data-example-id="bordered-table">
        <form class="form-horizontal">
            {{#Entity}}
            <div class="form-group">
                <label for="ClassNo" class="col-sm-2 control-label">ClassNo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ClassNo" placeholder="ClassNo" value="{{ClassNo}}">
                </div>
            </div>
            <div class="form-group">
                <label for="ClassName" class="col-sm-2 control-label">ClassName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ClassName" placeholder="ClassName" value="{{ClassName}}">
                </div>
            </div>
            {{/Entity}}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>