<html>

<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/docs.css" rel="stylesheet">
    <style>
        dt {
            font-size: 16px;
        }
        dd {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="bs-example" data-example-id="simple-dl">
        <dl>
            <dt>
                <a href='/TableList'>/TableList</a>
            </dt>
            <dd>Return page from backend render</dd>
            <dt>
                <a href='/GetTableList'>/GetTableList</a>
            </dt>
            <dd>Return json</dd>
            <dt>
                <a href='/Class'>/Class</a>
            </dt>
            <dd>Top 10 classes list</dd>
            <dt>
                <a href='/Class/GetClassList'>/Class/GetClassList</a>
            </dt>
            <dd>Return json</dd>
            <dt>
                <a href='/Webcontent'>/Webcontent</a>
            </dt>
            <dd>Return content from
                <a href='http://cnodejs.org/topic/5203a71844e76d216a727d2e'>http://cnodejs.org/topic/5203a71844e76d216a727d2e</a>
            </dd>
            <dt>
                <a href='/Cheerio'>/Cheerio</a>
            </dt>
            <dd>Return content from
                <a href='https://www.cnblogs.com/cate/csharp/'>https://www.cnblogs.com/cate/csharp/</a>
            </dd>
            <dt>
                <a href='/Monaco'>/MonacoDemo</a>
            </dt>
            <dd>
                <a href='https://microsoft.github.io/monaco-editor/'>https://microsoft.github.io/monaco-editor/</a>
            </dd>
            <dt>
                <a href='/Csharp/1'>/Csharp/1</a>
            </dt>
            <dd>
                <a href='https://github.com/agracio/edge-js'>Nodejs call .Net:https://github.com/agracio/edge-js</a>
            </dd>
        </dl>
    </div>
</body>

</html>